body {
    background: linear-gradient(#fdfcfb, #e2d1c3);
    margin: 20px 200px 110px;
}

.Dictionary input {
    margin: 10px 10px 10px 535px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 4px 12px;
}




h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.vertical-line {
    border-left: 4px solid black;
    display: block;
    height: 250px;
    width: 1px;
    padding-left: 10px;
    border-right: 10px;
    margin: 0 auto;
}

.row {
    padding-left: 150px;
    padding-right: 20px;
}

.col {
    padding-left: 150px;
}


.col-8 {
    padding: 5px 5px 5px 12px ;
}